on:
  - push
  - pull_request

jobs:
  inspect:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Inspect cache before install
        shell: bash
        continue-on-error: true
        run: ./inspect-cache.bash

      - name: Install dependencies
        run: pnpm install

      - name: Inspect cache after install
        shell: bash
        continue-on-error: true
        run: ./inspect-cache.bash
